.setup {
	border-top: solid #ccc 3px;
	border-bottom: solid #ccc 3px;
	margin-bottom: 5%;
}

.setup:hover {
	cursor: pointer;
}

.hidden {
	text-align: center;
	font-weight: bold;
	margin-left: 10px;
	border-top: solid black 2px;
	border-left: solid black 2px;
	border-right: solid black 2px;
	border-bottom: solid black 2px;
	background-color: antiquewhite;
	display: none;
}

.elliptic {
	width: 15vw;
}